requests_oauthlib==1.3.0
numpy==1.19.2
pandas==1.1.3
requests==2.24.0
sxtwl==1.1.0
PyYAML==6.0
CairoSVG==2.5.2
# > For Raspberry-Pi only:
# > We recommend to use the built-in pygame version for python3 on raspberry-pi platform, for
# > Pygame 2.0.1 has problems with compatability problems on raspbian buster. 
# pygame==2.0.1